@font-face {
  font-family: "Gilroy";
  src:
    url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src:
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src:
    url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src:
    url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
  font-weight: 300;
}
                           /********СБРОСЫ СТИЛЕЙ********/
.header-user-navigation,
.header-buy-navigation,
.header-site-navigation,
.header-product-type-list,
.promotion-list,
.promotion-btn-list,
.main-product-type-list,
.service-button-list,
.service-list,
.brand-list,
.footer-site-navigation,
.footer-social-navigation,
.footer-user-navigation,
.footer-buy-navigation,
.breadcrumbs,
.catalog-filters-form ul,
.catalog-sort ul,
.catalog-list,
.pagination-list,
.pagination-pages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation a,
.main-product-navigation a,
.footer-site-navigation a,
.footer-social-navigation a,
.footer-user-navigation a,
.footer-buy-navigation a,
.breadcrumbs a,
.sort-type-list a,
.catalog-item a,
.pagination-list a,
.btn {
  text-decoration: none;
}
.header-find-form input,
.header-find-form button,
.filters-price input,
.modal-feedback-form input,
.modal-feedback-form textarea,
.btn,
.promotion-btn,
.modal-close {
  outline: none;
  border: none;
}
                           /********СЕТКИ************/
body {
  margin: 0;
  padding: 0;
  padding-top: 23px;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*header*/
.main-header {
  margin: 0 auto;
  width: 1040px;
  padding:0 60px;
  padding-bottom: 51px;
}
.main-navigation a {
  display: block;
  position: relative;
}
.header-find-form {
  position: relative;
  margin-bottom: 29px;
}
.header-find-form input {
  padding-left: 38px;
  padding-top: 17px;
  padding-bottom: 9px;
  min-width: 315px;
}
.header-find-form button {
  display: none;
  padding: 9px 20px;
}
.header-find-form button:active,
.header-find-form input:focus+button {
  display: inline-block;
  vertical-align: baseline;
}
.header-find-form label {
  display: inline-block;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 40px;
  min-height: 20px;
  left: -1px;
  bottom: 17px;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-find-form {
  width: 50%;
}
.header-user-navigation {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-buy-navigation {
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-user-navigation,
.header-buy-navigation {
  padding-top: 17px;
}
.header-user-navigation a,
.header-buy-navigation a {
  padding-left: 27px;
}
.header-user-navigation .exit {
  padding-left: 19px;
}
.header-buy-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-buy-navigation a {
  margin-left: 36px;
}
.header-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-site-navigation>li:first-child {
  width: 50%;
  position: relative;
}
.header-site-navigation>li:first-child>a {
  display: inline-block;
  padding-right: 35px;
}
.header-site-navigation>.central-column {
  margin-left: 20px;
}
.header-site-navigation>.garant {
  margin-left: 35px;
}
.header-site-navigation>.right-column {
  margin-left: auto;
  margin-right: -0.2em;
}
.header-product-type-list {
  position: absolute;
  width: 640px;
  padding-left: 60px;
  padding-right: 460px;
  left: -60px;
  padding-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}
.top-menu:hover .header-product-type-list {
  z-index: 2;
  opacity: 1;
}
.header-product-type-list li {
  width: 160px;
  margin-right: 40px;
}
.header-product-type-list .left-column {
  width: 200px;
}
/*footer*/
.main-footer {
  min-width: 1200px;
}
.main-footer .container {
  padding-top: 65px;
  padding-bottom: 65px;
}
.footer-right,
.footer-left {
  width: 360px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.main-footer .score-address {
  padding-bottom: 70px;
}
.footer-center {
  width: 440px;
  padding-top: 70px;
}
.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 440px;
  margin-bottom: 43px;
  padding-left: 7px;
}
.footer-site-navigation li:nth-child(2) {
  margin-left: 34px;
}
.footer-site-navigation li:nth-child(3) {
  margin-left: 32px;
}
.footer-social-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 141px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: -21px;
}
.footer-user-navigation {
  min-width: 360px;
}
.footer-buy-navigation {
  min-width: 255px;
}
.footer-right .flex-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-buy-navigation,
.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -6px;
}
.footer-user-navigation a,
.footer-buy-navigation a {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-left: 38px;
  margin-bottom: 35px;
}
.footer-buy-navigation .compare {
  margin-left: 30px;
}
.footer-user-navigation .exit {
  margin-left: 18px;
  padding-left: 0;
}
.footer-score-tel {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.footer-copyright {
  position: relative;
  bottom: -42px;
}
/*index-main*/
/*promotion*/
.promotion {
  width: 1100px;
  padding-right: 60px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 95px;
  z-index: 1;
}
.promotion-list {
  counter-reset: number-slide;
}
li.promotion-item {
  counter-increment: number-slide;
  position: relative;
}
.promotion-item::before {
  position: absolute;
  content: counter(number-slide, decimal-leading-zero);
  right: 0;
  top: 62px;
  margin-right: -13px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  height: 130px;
  color: rgba(255,255,255,1.0);
  letter-spacing: 0.01em;
  vertical-align: middle;
  z-index: -1;
}
.promotion-item img {
  float: left;
  padding-right: 40px;
}
.promotion-item h3 {
  margin: 0;
  padding-top: 80px;
  margin-bottom: 18px;
}
.promotion-item p {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  padding-right: 10px;
}
.promotion-item .btn {
  display: inline-block;
  width: 160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}
.promotion-btn-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 78px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  right: 84px;
  bottom: 150px;
}
.promotion-btn {
  width: 10px;
  height: 12px;
}
.promotion-properties {
  border-collapse: collapse;
}
.promotion-properties tbody {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.promotion-properties tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promotion-properties td,
.promotion-properties th {
  width: 158px;
  padding: 0;
  margin: 0;
}
.promotion-properties td {
  margin-bottom: 7px;
}
.promotion-properties td:nth-child(2),
.promotion-properties th:nth-child(2) {
  width: 140px
}
.promotion::after {
  content: "";
  display: block;
  clear: both;
}
/*main-product-navigation*/
.main-product-type-list {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-product-type-list li {
  width: 160px;
}
.main-product-type-list a {
  display: block;
  position: relative;
  padding-top: 192px;
}
/*services*/
.services {
  padding-bottom: 68px;
  margin-bottom: 95px;
}
.service-button-list {
  width: 277px;
  padding-bottom: 45px;
}
.service-list {
  width: 760px;
  padding-left: 115px;
}
.service-button {
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.service-item p {
  width: 430px;
  padding-bottom: 50px;
  margin: 0;
}
/*скрываем не текущие слайды*/
.promotion-item:not(.current),
.service-item:not(.current) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.service-list h3 {
  margin: 0;
  padding-top: 73px;
  margin-bottom: 31px;
}
.service-button-list {
  padding-top: 80px;
}
.service-button-list .service-button {
  width: 160px;
}
.service-button-list .service-button:active,
.service-button-list .service-button.current {
  width: 280px;
  padding-right: 120px;
}
/*brands*/
.brand-list {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 82px;
}
.brand-list li {
  width: 260px;
  position: relative;
}
/*about-us, contacts*/
.about-us,
.contacts {
  width: 560px;
  padding-top: 52px;
}
.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.about-us p,
.contacts p {
  margin: 0;
  padding: 0;
}
.about-us p {
  margin-bottom: 30px;
  width: 475px;
}
.contacts p {
  margin-bottom: 40px;
  width: 520px;
}
.about-us .delivering-list {
  padding: 0;
  margin: 0;
  padding-top: 36px;
  margin-bottom: 54px;
  list-style-type: none;
}
.about-us .delivering-item {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  position: relative;
}
.about-us .btn,
.contacts .btn {
  display: block;
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 82px;
}
.contacts-map {
  display: block;
  margin-bottom: 59px;
}
/*catalog-page*/
/*breadcrumbs*/
.catalog-page-header {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  margin-bottom: 24px;
}
.breadcrumbs {
  width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}
.breadcrumbs a {
  display: block;
  padding-right: 19px;
  margin-right: 19px;
}
/*catalog*/
.catalog-container {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters {
  width: 200px;
  padding-left: 60px;
  padding-right: 70px;
}
.filters h3 {
  margin: 0;
  padding: 24px 0;
  margin-bottom: 68px;
}
.catalog fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}
.catalog legend {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
  padding-top: 7px;
  margin-bottom: 32px;
}
.filters-price input[type="number"] {
  width: 50px;
}
.filters-price input::-webkit-outer-spin-button,
.filters-price input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.filters-price input[type='number'] {
    -moz-appearance: textfield;
}
.filters-price  .start-price {
  width: 90px;
}
.filters-price-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters-price p {
  padding: 0;
  margin: 0;
}
.filters-price-range {
  position: relative;
  height: 2px;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(145,201,47,1.0)), color-stop(50%, rgba(145,201,47,1.0)),
                                    color-stop(50%, rgba(219,219,219,1.0)), to(rgba(219,219,219,1.0)));
  background-image: -webkit-linear-gradient(left, rgba(145,201,47,1.0) 0%, rgba(145,201,47,1.0) 50%,
                                    rgba(219,219,219,1.0) 50%, rgba(219,219,219,1.0) 100%);
  background-image: -o-linear-gradient(left, rgba(145,201,47,1.0) 0%, rgba(145,201,47,1.0) 50%,
                                    rgba(219,219,219,1.0) 50%, rgba(219,219,219,1.0) 100%);
  background-image: linear-gradient(to right, rgba(145,201,47,1.0) 0%, rgba(145,201,47,1.0) 50%,
                                    rgba(219,219,219,1.0) 50%, rgba(219,219,219,1.0) 100%);
}
.filters-price-range span {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -12px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.filters-price-range span:first-child {
  margin-left: -12px;
}
.filters-price-range span:last-child {
  left: 50%;
  margin-left: -12px;
}
.catalog-filters-form .filters-color {
  margin-bottom: 28px;
}
.filters-color legend {
  margin-bottom: 16px;
}
.filters-color li {
  margin-bottom: 0;
}
.filters-color label,
.filters-bluetooth label {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;/*Зачем? вроде и без него работает*/
}
.catalog-filters-form .filters-color {
  margin-bottom: 31px;
}
.filters-bluetooth legend {
  margin-bottom: 16px;
}
.filters-bluetooth li {
  margin-bottom: 0;
}
.catalog-filters-form .filters-bluetooth {
  margin-bottom: 30px;
}
.catalog-filters-form .btn {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.catalog-rows {
  width: 830px;
}
.catalog-sort,
.sort-type-list,
.sort-range-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-sort h3 {
  margin: 0;
  padding: 23px 0;
  padding-left: 72px;
  padding-right: 33px;
}
.sort-type-list a {
  display: block;
  margin-left: 20px;
  margin-right: 5px;
  min-width: 60px;
  padding: 25px 0;
}
.catalog-sort .sort-range-list {
  position: relative;
  margin-left: auto;
}
.sort-range-list a {
  display: block;
  position: relative;
  padding: 30px 0;
  margin-left: 30px;
}
.sort-range-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 69px;
  padding-left: 70px;
}
.catalog-item {
  width: 360px;
  position: relative;
}
.catalog-item-action {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 210px;
  padding-top: 170px;
  background-color: rgba(238,238,238,0.7);
}
.catalog-item:hover .catalog-item-action { /*Возможно .catalog-item img:hover+.catalog-item-action*/
  opacity: 1;
}
.catalog-item-action a {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}
.catalog-item h1 {
  width: 260px;
  margin: 0;
  padding-top: 16px;
}
.catalog-item .catalog-item-price {
  width: 100px;
  margin: 0;
  padding-top: 24px;
  text-align: right;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 72px;
  margin-bottom: 78px;
}
.pagination-list a {
  display: block;
  padding: 25px 14px;
}
.pagination-list li:nth-child(2) {
  margin-left: 10px;
}
.pagination-list .pagination-btn {
  padding: 25px 28px;
}
.pagination-list li:first-child {
  margin-right: auto;
}
.pagination-list li:last-child {
  margin-left: auto;
}
/*modal*/
.modal-map {
  width: 960px;
  line-height: 0;
  font-size: 0;
}
.modal-map p {
  margin: 0;
  display: block;
}
.modal-map img {
  display: block;
}
.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate( -50%,-50%);
      -ms-transform: translate( -50%,-50%);
          transform: translate( -50%,-50%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}
.modal-feedback {
  width: 760px;
  padding: 82px 100px;
}
.modal-feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-feedback-form p {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.modal-feedback-form .left-column,
.modal-feedback-form .right-column {
  width: 360px
}
.modal-feedback-form input,
.modal-feedback-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 17px 0;
  padding-left: 20px;
}
.modal-feedback-form label {
  display: block;
  margin-bottom: 10px;
}
.modal-feedback-form .btn {
  padding-left: 10px;
  padding-right: 10px;
  width: 180px;
}
.modal-close {
  position: absolute;
  font-size: 0px;
  padding: 0;
  width: 58px;
  height: 58px;
  top: 24px;
  right: 22px;
  opacity: 0.5;
  z-index: 2;
}
.modal-close:hover,
.modal-close:focus {
  opacity: 1.0;
}
.modal-close:active {
  opacity: 0.3;
}
.modal-map iframe {
  position: relative;
  z-index: 1;
  border: none;
}
.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
                       /************ШРИФТЫ************/

body {
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;

  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);

  line-height: 30px;
}
.btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0,0,0,1);
  line-height: 24px;
  text-align: center;

  padding-top:;
}
.btn:hover,
.btn:focus {
  color: rgba(0,0,0,1);
}
.btn:active {
  color: rgba(0,0,0,0.3);
}
/*header*/
.main-navigation a {
  color: rgba(0,0,0,1);
}
.header-find-form,
.header-user-navigation,
.header-buy-navigation {
  line-height: 30px;
}
.main-navigation .exit {
  color: rgba(0,0,0,0.3);
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0,0,0,0.6);
}
.main-navigation a:active {
  color: rgba(0,0,0,0.3);
}
.main-navigation a.current {
  color: rgba(0,0,0,1);
}
.header-find-form input {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
  line-height: 30px;
}
.header-find-form input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.header-find-form input:-ms-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.header-find-form input::-ms-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.header-find-form input::placeholder {
  color: rgba(0,0,0,0.3);
}
.header-find-form input:hover::-webkit-input-placeholder {
  color: rgba(0,0,0,0.6);
}
.header-find-form input:hover:-ms-input-placeholder {
  color: rgba(0,0,0,0.6);
}
.header-find-form input:hover::-ms-input-placeholder {
  color: rgba(0,0,0,0.6);
}
.header-find-form input:hover::placeholder {
  color: rgba(0,0,0,0.6);
}
.header-find-form input:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,1);
}
.header-find-form input:focus:-ms-input-placeholder {
  color: rgba(0,0,0,1);
}
.header-find-form input:focus::-ms-input-placeholder {
  color: rgba(0,0,0,1);
}
.header-find-form input:focus::placeholder {
  color: rgba(0,0,0,1);
}
.header-find-form button {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.header-find-form button:hover {
  color: rgba(255,255,255,1);
}
.header-find-form button:active {
  color: rgba(255,255,255,0.3);
}
.header-user-navigation,
.header-buy-navigation {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.header-site-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
}
.header-product-type-list {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-transform: none;
}
/*footer*/
.main-footer {
  color: rgba(255,255,255,1);
}
.main-footer .score-address {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
}
.footer-site-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.footer-site-navigation a {
  color: rgba(255,255,255,1);
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255,255,255,0.6);
}
.footer-site-navigation a:active {
  color: rgba(255,255,255,0.3);
}
.footer-user-navigation,
.footer-buy-navigation {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
}
.footer-user-navigation a,
.footer-buy-navigation a {
  color: rgba(255,255,255,0.7);
}
.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-buy-navigation a:hover,
.footer-buy-navigation a:focus {
  color: rgba(255,255,255,1);
}
.footer-user-navigation a:active,
.footer-buy-navigation a:active {
  color: rgba(255,255,255,0.3);
}
.footer-score-tel {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: right;
}
.footer-copyright {
  text-align: right;
}
/*main index*/
  /*promotion*/
.promotion-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,1);
}
.promotion-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: rgba(0,0,0,1);
}
.promotion-description p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
.promotion-properties th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
  text-align: left;
}
.promotion-properties td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
  text-align: left;
}
.promotion-item .btn {
  text-align: center;
}
/*main-product-navigation*/
.main-product-type-list a,
.main-product-type-list a:hover,
.main-product-type-list a:focus {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.main-product-type-list a:active {
  color: rgba(0,0,0,0.3);
}
/*services*/
.service-item h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.02em;
  color: rgba(0,0,0,1);
}
.service-item p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.017em;
  color: rgba(70,70,70,1);
}
.service-button-list .btn.current,
.service-button-list .btn:active {
  color: rgba(247,225,132,1);
}
/*about-us*/
.about-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.about-us p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
.about-us .delivering-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0;
  color: rgba(0,0,0,1);
}
/*contacts*/
.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.contacts p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
/*main catalog*/
.catalog-page-header {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
/*breadcrumbs*/
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.3);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0,0,0,0.6);
}
.breadcrumbs a:active {
  color: rgba(0,0,0,0.1);
}
.breadcrumbs a.current {
  color: rgba(0,0,0,0.3);
}
/*filters*/
.filters h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}
.catalog-filters-form legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.catalog-filters-form label {
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.filters-price label,
.filters-price input,
.filters-price input::-webkit-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase;
  color: rgba(0,0,0,0.2);
}
.filters-price label,
.filters-price input,
.filters-price input:-ms-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase;
  color: rgba(0,0,0,0.2);
}
.filters-price label,
.filters-price input,
.filters-price input::-ms-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase;
  color: rgba(0,0,0,0.2);
}
.filters-price label,
.filters-price input,
.filters-price input::placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase;
  color: rgba(0,0,0,0.2);
}
/*catalog-sort*/
.catalog-sort h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}
.sort-type-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.3);
}
.sort-type-item a:hover,
.sort-type-item a:focus {
  color: rgba(0,0,0,0.6);
}
.sort-type-item a:active {
  color: rgba(0,0,0,1);
}
.sort-type-item a.current {
  color: rgba(0,0,0,1);
}
/*catalog-list*/
.catalog-item-action a:not(.btn) {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.5);
}
.catalog-item-action a:not(.btn):hover,
.catalog-item-action a:not(.btn):focus {
  color: rgba(0,0,0,1);
}
.catalog-item-action a:not(.btn):active {
  color: rgba(0,0,0,0.2);
}
.catalog-item-name a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 0.8;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.catalog-item-name a:hover,
.catalog-item-name a:focus {
  text-decoration: underline;
}
.catalog-item p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
/*pagination-list*/
.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,0.3);
}
.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0,0,0,0.6);
}
.pagination-item a:active {
  color: rgba(0,0,0,1);
}
.pagination-item a.current {
  color: rgba(0,0,0,1);
}
.pagination-item a.pagination-btn {
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}
.pagination-item a.pagination-btn:hover
.pagination-item a.pagination-btn:focus {
  color: rgba(0,0,0,1);
}
.pagination-item a.pagination-btn:active {
  color: rgba(0,0,0,0.3);
}
/*modal*/
.modal-feedback-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0;
  color: rgba(0,0,0,1);
}
.modal-feedback-form input,
.modal-feedback-form textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
.modal-feedback-form input::-webkit-input-placeholder,
.modal-feedback-form textarea::-webkit-input-placeholder {
  color: rgba(70,70,70,0.4);
}
.modal-feedback-form input:-ms-input-placeholder,
.modal-feedback-form textarea:-ms-input-placeholder {
  color: rgba(70,70,70,0.4);
}
.modal-feedback-form input::-ms-input-placeholder,
.modal-feedback-form textarea::-ms-input-placeholder {
  color: rgba(70,70,70,0.4);
}
.modal-feedback-form input::placeholder,
.modal-feedback-form textarea::placeholder {
  color: rgba(70,70,70,0.4);
}
.modal-feedback-form input:invalid,
.modal-feedback-form textarea:invalid {
   color: rgba(70,70,70,0.4);
 }
                                     /********ФОНЫ**********/

.btn {
  background-color: transparent;
  background-image: url(../img/yellow-line.png);
  background-repeat: repeat no-repeat;
  background-position: center;
  padding: 8px 0;
}
.btn:hover,
.btn:focus,
.btn:active {

  background-color: rgba(240,197,46,1.0);
}
/*header*/
.main-header {
  background-image: -webkit-linear-gradient(top,
    transparent 18px,
    rgba(240,197,46,0.5) 18px, rgba(240,197,46,0.5) 100%);
  background-image: -o-linear-gradient(top,
    transparent 18px,
    rgba(240,197,46,0.5) 18px, rgba(240,197,46,0.5) 100%);
  background-image: linear-gradient(to bottom,
    transparent 18px,
    rgba(240,197,46,0.5) 18px, rgba(240,197,46,0.5) 100%);
}
.header-find-form label {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 4px bottom;
}
.header-find-form input[type="text"] {
  background-color: transparent;
}
.header-find-form button {
  background-color: transparent;
}
.header-find-form button:hover,
.header-find-form button:focus {
  background-color: rgba(0,0,0,1);
}
.header-find-form button:active {
  background-color: rgba(0,0,0,1);
}
.header-user-navigation .login-link::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0;
  bottom: 9px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.header-buy-navigation .compare::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0;
  bottom: 9px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 7px bottom;
}
.header-buy-navigation .cart::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0;
  bottom: 9px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 4px bottom;
}
.header-user-navigation .login-link:hover::before,
.header-user-navigation .login-link:focus::before {
  opacity: 0.6;
}
.header-user-navigation .login-link:active::before {
  opacity: 0.3;
}
.header-buy-navigation a:hover::before,
.header-buy-navigation a:focus::before {
  opacity: 0.8;
}
.header-buy-navigation a:active::before {
  opacity: 0.3;
}
.header-site-navigation>li:first-child>a::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 7px;
  bottom: 4px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.header-product-type-list {
  background-color: rgba(247,226,150,1.0);
}
/*footer*/
.main-footer {
  background-color: rgba(70,70,70,1);
}
.main-footer .footer-left {
  background-image: url(../img/small-yellow-line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.footer-social-navigation a {
  opacity: 0.3;
}
.footer-social-navigation a:hover,
.footer-social-navigation a:focus {
  opacity: 0.6;
}
.footer-social-navigation a:active {
  opacity: 0.1;
}
.footer-user-navigation .login-link::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  left: 0;
  bottom: 10px;
  background-image: url(../img/footer-user.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-buy-navigation .compare::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  left: 6px;
  bottom: 10px;
  background-image: url(../img/footer-compare.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-buy-navigation .cart::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  left: 3px;
  bottom: 10px;
  background-image: url(../img/footer-cart.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}
.footer-copyright a:active {
  opacity: 0.3;
}
/*index-main*/
.promotion {
  background-image: -webkit-linear-gradient(top,
    rgba(240,197,46,0.5) 112px,
    transparent 112px, transparent 100%);
  background-image: -o-linear-gradient(top,
    rgba(240,197,46,0.5) 112px,
    transparent 112px, transparent 100%);
  background-image: linear-gradient(to bottom,
    rgba(240,197,46,0.5) 112px,
    transparent 112px, transparent 100%);
}
.promotion-description {
  background-image: url(../img/white-line.png);
  background-repeat: no-repeat;
  background-position: 600px 38px;
}
.promotion-btn {
  background-color: transparent;
  background-image: url(../img/slider-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.promotion-btn.current {
  background-image: url(../img/slider-button-current.svg);
}
.main-product-navigation a::before,
.main-product-navigation a::after {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
}
.main-product-navigation a::before {
  background-color: rgba(240,197,46, 0.5);
}
.main-product-navigation a:hover::before,
.main-product-navigation a:focus::before,
.main-product-navigation a:active::before {
  background-color: rgba(240,197,46, 1.0);
}
.main-product-navigation a:active::after {
  opacity: 0.3;
}
.main-product-navigation .virtual-reality::after {
  background-image: url(../img/product-navigation-icon-1.png);
}
.main-product-navigation .monopod::after {
  background-image: url(../img/product-navigation-icon-2.png);
}

.main-product-navigation .action-cameras::after {
  background-image: url(../img/product-navigation-icon-3.png);
}

.main-product-navigation .fitness-bracelets::after {
  background-image: url(../img/product-navigation-icon-4.png);
}

.main-product-navigation .smart-watch::after {
  background-image: url(../img/product-navigation-icon-5.png);
}

.main-product-navigation .quadrocopters::after {
  background-image: url(../img/product-navigation-icon-6.png);
}
.services {
  background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,1) 100px,
    rgba(229,229,229,1) 100px, rgba(229,229,229,1) 100%);
  background-image: -o-linear-gradient(top,
    rgba(255,255,255,1) 100px,
    rgba(229,229,229,1) 100px, rgba(229,229,229,1) 100%);
  background-image: linear-gradient(to bottom,
    rgba(255,255,255,1) 100px,
    rgba(229,229,229,1) 100px, rgba(229,229,229,1) 100%);
}
.service-button-list .btn.current,
.service-button-list .btn:active {
  background-color: rgba(0,0,0,1);
  background-size: 0;
}
.service-item:nth-child(1) {
  background-image: url(../img/service-delivery.png);
  background-repeat: no-repeat;
  background-position: 500px 61px;
}
.service-item:nth-child(2) {
  background-image: url(../img/service-warranty.png);
  background-repeat: no-repeat;
  background-position: 500px 61px;
}
.service-item:nth-child(3) {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
  background-position: 500px 61px;
}
.brand-item a:hover::before,
.brand-item a:focus::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 100px;
}
.brand-item:nth-child(1) a:hover::before,
.brand-item:nth-child(1) a:focus::before {
  background-image: url(../img/brand-1-hover.png);
}
.brand-item:nth-child(2) a:hover::before,
.brand-item:nth-child(2) a:focus::before {
  background-image: url(../img/brand-2-hover.png);
}
.brand-item:nth-child(3) a:hover::before,
.brand-item:nth-child(3) a:focus::before {
  background-image: url(../img/brand-3-hover.png);
}
.brand-item:nth-child(4) a:hover::before,
.brand-item:nth-child(4) a:focus::before {
  background-image: url(../img/brand-4-hover.png);
}
.about-us {
  background-image: url(../img/black-line.png);
  background-repeat: no-repeat;
}
.about-us .delivering-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -2px;
  bottom: 8px;
  background-image: url(../img/delivering-list-marker.svg);
}
.contacts {
  background-image: url(../img/black-line.png);
  background-repeat: no-repeat;
}
/*catalog-main*/
.breadcrumbs a:not(.current) {
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1200px;
}
.catalog::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: -webkit-linear-gradient(top, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
  background-image: -o-linear-gradient(top, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
  background-image: linear-gradient(to bottom, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
}
.catalog::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: -webkit-linear-gradient(top, rgba(235,235,235,1.0), rgba(235,235,235,1.0) 70px,
                                    transparent 70px, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(235,235,235,1.0), rgba(235,235,235,1.0) 70px,
                                    transparent 70px, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(235,235,235,1.0), rgba(235,235,235,1.0) 70px,
                                    transparent 70px, transparent 100%);
}
.filters {
  background-image: -webkit-linear-gradient(top, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
  background-image: -o-linear-gradient(top, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
  background-image: linear-gradient(to bottom, rgba(219,219,219,1.0), rgba(219,219,219,1.0) 70px,
                                    rgba(239,239,239,1.0) 70px, rgba(239,239,239,1.0) 100%);
}
.filters input {
  background-color: transparent;
}
.filters-color-checkbox+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  left: -2px;;
  bottom: -2px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.filters-color-checkbox:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
}
.filters-bluetooth-radio+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: -2px;
  bottom: -2px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.filters-bluetooth-radio:checked+label::before {
  background-image: url(../img/radio-on.svg);
}
.filters-color-checkbox:hover+label::before,
.filters-bluetooth-radio:hover+label::before,
.filters-color-checkbox:focus+label::before,
.filters-bluetooth-radio:focus+label::before {
  opacity: 0.6;
}
.filters-color-checkbox:disabled+label::before,
.filters-color-checkbox:disabled:checked+label::before,
.filters-bluetooth-radio:disabled+label::before,
.filters-bluetooth-radio:disabled:checked+label::before {
  opacity: 0.25;
}
.catalog-sort {
  background-color: rgba(235,235,235,1);
}
.sort-range-list a.descendin::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -11px;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
}
.sort-range-list a.ascending::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -11px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}
.sort-range-list a:not(.current) {
  opacity: 0.2;
}
.sort-range-list a:not(.current):hover,
.sort-range-list a:not(.current):focus {
  opacity: 0.4;
}
.sort-range-list a:not(.current):active {
  opacity: 1.0;
}
.catalog-item.new::before {
  position: absolute;
  content: "New";
  text-transform: uppercase;
  text-align: center;
  right: 26px;
  top: 29px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  width: 61px;
  line-height: 61px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,0.2);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
}
.pagination-list {
  background-color: rgba(235,235,235,1);
}
.pagination-btn:hover,
.pagination-btn:focus,
.pagination-btn:active {
  background-color: rgba(217,217,217,1.0);
}
/*modal*/
.modal-feedback {
  background-color: rgba(255,255,255,1);
}
.modal-feedback input,
.modal-feedback textarea {
  background-color: rgba(242,242,242,1);
}
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  background-color: rgba(234,234,234,1);
}
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  background-color: rgba(255,255,255,1);
}
.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  background-color: rgba(246,218,218,1);
}
.modal-close {
  background-color: transparent;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}
                                 /*******OUTLINE И BORDER**********/
.header-find-form input[type="text"] {
  border-bottom: 2px solid transparent;
}
.header-find-form input[type="text"]:focus {
  border-bottom: 2px solid rgba(0,0,0,1);
}
.header-find-form button {
  border: 2px solid rgba(0,0,0,1);
}
.service-button-list {
  border-right: 7px solid rgba(0,0,0,1.0);
}
.catalog-filters-form fieldset {
  border: none;
}
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  outline: 3px solid rgba(240,197,46,1);
}
/*Классы для js*/
.modal-show {
  display: block;
  animation: emersion-modal 0.7s;
}
/*Анимации*/
@keyframes emersion-modal {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 20%;
  }
  40% {
    width: 25%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 35%;
  }
  70% {
    width: 40%;
  }
  80% {
    width: 45%;
  }
  90% {
    width: 50%;
  }
  100% {
    width: 55%;
  }
}
