@font-face {
  font-family: "Gilroy";
  src:
    url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src:
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src:
    url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src:
    url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
  font-weight: 300;
}
                           /********СБРОСЫ СТИЛЕЙ********/
body {
  margin: 0;
  padding: 0;
}
.main-navigation ul,
.promotion-list,
.promotion-btn-list,
.main-product-type-list,
.service-button-list,
.service-list,
.brand-list,
.footer-site-navigation,
.footer-social-navigation,
.footer-user-navigation,
.footer-buy-navigation,
.breadcrumbs,
.catalog-filters-form ul,
.catalog-sort ul,
.catalog-list,
.pagination-list
{
  list-style: none;
}

.main-navigation a,
.main-product-navigation a,
.footer-site-navigation a,
.footer-social-navigation a,
.footer-user-navigation a,
.footer-buy-navigation a,
.breadcrumbs a,
.sort-type-list a,
.catalog-item a,
.pagination-list a,
.btn
{
  text-decoration: none;
}
.header-find-form input[type="text"],
.header-find-form button,
.filters-price input,
.modal-feedback-form input,
.modal-feedback-form textarea,
.btn
{
  outline: none;
  border: none;
}
                           /************ШРИФТЫ************/
.btn {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0,0,0,1);
}
.btn:hover,
.btn:focus
{
  color: rgba(0,0,0,1);
}
.btn:active {
  color: rgba(0,0,0,0.3);
}
/*header*/
.main-navigation a {
  color: rgba(0,0,0,1);
}
.main-navigation .exit {
  color: rgba(0,0,0,0.3);
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0,0,0,0.6);
}
.main-navigation a:active {
  color: rgba(0,0,0,0.3);
}
.main-navigation a.current {
  color: rgba(0,0,0,1);
}
.header-find-form input {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.header-find-form input::placeholder{
  color: rgba(0,0,0,0.3);
}
.header-find-form input:hover::placeholder {
  color: rgba(0,0,0,0.6);
}
.header-find-form input:focus::placeholder {
  color: rgba(0,0,0,1);
}
.header-find-form button {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.header-find-form button:hover {
  color: rgba(255,255,255,1);
}
.header-find-form button:active {
  color: rgba(255,255,255,0.3);
}
.header-user-navigation,
.header-buy-navigation {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.header-site-navigation {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.header-product-type-list {
  font-family: "Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: none;
}
/*footer*/
.main-footer{
  color: rgba(255,255,255,1);
}
.main-footer .score-address {
  font-family: "Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
}
.footer-site-navigation {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.footer-site-navigation a {
  color: rgba(255,255,255,1);
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255,255,255,0.6);
}
.footer-site-navigation a:active {
  color: rgba(255,255,255,0.3);
}
.footer-user-navigation,
.footer-buy-navigation {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.footer-user-navigation a,
.footer-buy-navigation a {
  color: rgba(255,255,255,0.7);
}
.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-buy-navigation a:hover,
.footer-buy-navigation a:focus {
  color: rgba(255,255,255,1);
}
.footer-user-navigation a:active,
.footer-buy-navigation a:active {
  color: rgba(255,255,255,0.3);
}
.footer-score-tel {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
}
/*main index*/
  /*promotion*/
.promotion-number {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 179.2px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: rgba(255,255,255,1);
}
.promotion-description h3{
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.promotion-description p {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
.promotion-properties th {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
.promotion-properties td {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
/*main-product-navigation*/
.main-product-type-list a,
.main-product-type-list a:hover,
.main-product-type-list a:focus {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.main-product-type-list a:active {
  color: rgba(0,0,0,0.3);
}
/*services*/
.service-item h3{
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.service-item p {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
.service-button-list .btn.current,
.service-button-list .btn:active
{
  color: rgba(247,225,132,1);
}
/*about-us*/
.about-us h2 {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.about-us p {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
.about-us .delivering-item {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  color: rgba(0,0,0,1);
}
/*contacts*/
.contacts h2 {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.contacts p {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
/*main catalog*/
main>h1 {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
/*breadcrumbs*/
.breadcrumbs a{
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.3);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0,0,0,0.6);
}
.breadcrumbs a:active {
  color: rgba(0,0,0,0.1);
}
.breadcrumbs a.current {
  color: rgba(0,0,0,0.3);
}
/*filters*/
.filters h3 {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,1);
}
.catalog-filters-form legend {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.catalog-filters-form label {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.filters-price label,
.filters-price input,
.filters-price input::placeholder {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(0,0,0,0.2);
}
/*catalog-sort*/
.catalog-sort h3 {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,1);
}
.sort-type-item a{
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.3);
}
.sort-type-item a:hover,
.sort-type-item a:focus {
  color: rgba(0,0,0,0.6);
}
.sort-type-item a:active {
  color: rgba(0,0,0,1);
}
.sort-type-item a.current {
  color: rgba(0,0,0,1);
}
/*catalog-list*/
.catalog-item-action a:not(.btn){
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,0.5);
}
.catalog-item-action a:not(.btn):hover,
.catalog-item-action a:not(.btn):focus {
  color: rgba(0,0,0,1);
}
.catalog-item-action a:not(.btn):active {
  color: rgba(0,0,0,0.2);
}
.catalog-item-name a {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: rgba(0,0,0,1);
}
.catalog-item-name a:hover,
.catalog-item-name a:focus {
  text-decoration: underline;
}
.catalog-item p {
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(70,70,70,1);
}
/*pagination-list*/
.pagination-item a{
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,0.3);
}
.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0,0,0,0.6);
}
.pagination-item a:active {
  color: rgba(0,0,0,1);
}
.pagination-item a.current {
  color: rgba(0,0,0,1);
}
.pagination-item a.pagination-btn {
  color: rgba(0,0,0,1);
}
.pagination-item a.pagination-btn:hover
.pagination-item a.pagination-btn:focus {
  color: rgba(0,0,0,1);
}
.pagination-item a.pagination-btn:active {
  color: rgba(0,0,0,0.3);
}
/*modal*/
.modal-feedback-form label{
  font-family: "Gilroy", "Arial, sans-serif";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0;
  color: rgba(0,0,0,1);
}
.modal-feedback-form input,
.modal-feedback-form textarea {
  font-family:"Open Sans", "Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(70,70,70,1);
}
.modal-feedback-form input::placeholder,
.modal-feedback-form textarea::placeholder {
  color: rgba(70,70,70,0.4);
}
.modal-feedback-form input:invalid,
.modal-feedback-form textarea:invalid {
   color: rgba(70,70,70,0.4);
 }
                                     /********ФОНЫ**********/
body {
  background-color: rgba(255,255,255,1);
}
.btn {
  background-color: transparent;
  background-image: url(../img/yellow-line.png);
  background-repeat: repeat no-repeat;
  background-position: center;
}
.btn:hover,
.btn:focus,
.btn:active
{
  background-color: rgba(240,197,46);
}
/*header*/
.main-header {
  background-color: rgba(247,226,150,0.5);
}
.header-find-form input[type="text"] {
  background-color: transparent;
}
.header-find-form button {
  background-color: transparent;
}
.header-find-form button:hover,
.header-find-form button:focus {
  background-color: rgba(0,0,0,1);
}
.header-find-form button:active {
  background-color: rgba(0,0,0,1);
}
/*footer*/
.main-footer {
  background-color: rgba(70,70,70,1);
}
/*index-main*/
.promotion {
  background-image: linear-gradient(to bottom,
    rgba(247,226,150,0.5) 105px,
    transparent 105px, transparent 100%);
}
.main-product-navigation {
  background-color: rgba(255,255,255,1);
}
.services {
  background-image: linear-gradient(to bottom,
    rgba(255,255,255,1) 100px,
    rgba(229,229,229,1) 100px, rgba(229,229,229,1) 100%);
}
.service-button-list .btn.current,
.service-button-list .btn:active
{
  background-color: rgba(0,0,0,1);
  background-size: 0;
}
.brands {
  background-color: rgba(255,255,255,1);
}
.about-us {
  background-color: rgba(255,255,255,1);
}
.contacts {
  background-color: rgba(255,255,255,1);
}
/*catalog-main*/
.filters h3 {
  background-color: rgba(219,219,219,1);
}
.filters form {
  background-color: rgba(238,238,238,1);
}
.filters input {
  background-color: transparent;
}
.catalog-sort {
  background-color: rgba(235,235,235,1);
}
.pagination-list {
  background-color: rgba(235,235,235,1);
}
/*modal*/
.modal-feedback {
  background-color: rgba(255,255,255,1);
}
.modal-feedback input,
.modal-feedback textarea {
  background-color: rgba(242,242,242,1);
}
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  background-color: rgba(234,234,234,1);
}
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  background-color: rgba(255,255,255,1);
}
.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  background-color: rgba(246,218,218,1);
}
                                 /*******OUTLINE И BORDER**********/
.header-find-form input[type="text"] {
  border-bottom: 2px solid transparent;/*Что бы не дёргалось*/
}
.header-find-form input[type="text"]:focus {
  border-bottom: 2px solid rgba(0,0,0,1);
}
.header-find-form button {
  border: 2px solid rgba(0,0,0,1);
}
.catalog-filters-form fieldset {
  border: none;
}
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  outline: 3px solid rgba(240,197,46,1);
}
